@import url('archivo.css');
@import url('clash-display.css');



.wholePage
{
  background: #070D17;
  
}
.page
{
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    /* height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(151deg, rgba(255, 0, 0, 0.20) -0.97%, rgba(0, 0, 0, 0.00) 26.54%), linear-gradient(185deg, #9360FE -2.29%, #623FC5 2.43%, #5036A1 4.8%, #432F87 7.14%, #322665 13.49%, #1A1A34 19.35%, #121220 26.31%);
  background: -moz-linear-gradient(151deg, rgba(255, 0, 0, 0.20) -0.97%, rgba(0, 0, 0, 0.00) 26.54%), linear-gradient(185deg, #9360FE -2.29%, #623FC5 2.43%, #5036A1 4.8%, #432F87 7.14%, #322665 13.49%, #1A1A34 19.35%, #121220 26.31%);
  background: -o-linear-gradient(151deg, rgba(255, 0, 0, 0.20) -0.97%, rgba(0, 0, 0, 0.00) 26.54%), linear-gradient(185deg, #9360FE -2.29%, #623FC5 2.43%, #5036A1 4.8%, #432F87 7.14%, #322665 13.49%, #1A1A34 19.35%, #121220 26.31%);
  background:  linear-gradient(151deg, rgba(255, 0, 0, 0.20) -0.97%, rgba(0, 0, 0, 0.00) 26.54%), linear-gradient(188deg, #623FC5 -2.66%, #5036A1 -0.11%, #322665 7.35%, #1A1A34 16.9%, #121220 27.2%); */

  
}


.header
{
  max-width: 1720px;
  width: 89.583vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0 48px; */
  padding: 16px 0px 64px 0px;
  /* margin-left: 5.20vw; */

}

.links
{
  /* width: 461px;
  height: 41px; */
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px;
  padding: 0;
}

.work
{ border: none;
    background-color: inherit;
  flex-grow: 0;
  font-family: ClashDisplay-Medium;
  font-size: 1rem;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #FFFFFF;
}

.aboutMe
{
  border: none;
  background-color: inherit;
  flex-grow: 0;
  font-family: ClashDisplay-Medium;
  font-size: 1rem;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #FFFFFF;
}

.contact
{
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(87deg, #5046CE 0.89%, #882ECE 23.82%, #9708C9 38.78%, #CB5285 79.89%, #F05656 99.17%);


  border: none;
  font-family: ClashDisplay-Medium;
  font-size: 1rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #FFFFFF;
}

.contact:hover
{
  background:  linear-gradient(267deg, #5046CE 0.41%, #882ECE 23.57%, #9708C9 38.67%, #CB5285 80.18%, #F05656 99.65%);
  box-shadow: 0px 3px 25px 0px rgba(246, 20, 224, 0.45);
  transition:ease-in-out
}
