@import url('archivo.css');
@import url('clash-display.css');




.sectionTwo
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.titleTwo
{
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
 
}

.W1
{
    flex-grow: 0;
    font-family: Archivo;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 0.22px;
    text-align: left;
    color: #505559; 
}

.projBox
{ 
  max-width: 1720px;  
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
}

.projRow
{
  display: flex;
align-items: flex-start;
flex-direction: row;
gap: 40px;
}


.seeMore
{
display: inline-flex;
padding: 8px 32px;
align-items: center;
gap: 4px;
border-radius: 4px;
background: #F05656;
border: none;


/* text */
color: #FFF;
font-family: Archivo;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.projAndMoreButton
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
 
}