@import url('archivo.css');
@import url('clash-display.css');



.sectionThree
{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.moreAbout
{  
    display: inline-flex;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background-image: url(/Assets/aboutBG.svg) ;
    background-size: cover;
}


.moreTitle
{
    color: #FFF;
    font-family: Clash Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
}


.myDetails
{
    max-width:1049px;
    width: 54.635vw;

}

.myDetailOne
{
    color: #D2D4D9;
    font-family: Clash Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 169%; /* 81.12px */


}
.myDetailTwo
{

    color: #F05656;
    font-family: Clash Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 169%;

}
.myDetailOne
{
    color: #D2D4D9;
    font-family: Clash Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 169%; /* 81.12px */
}

.skillsBox
{
    /* position: absolute; */
    max-width: 567px;
    width: 29.531vw;
    border-radius: 24px;
    vertical-align: middle;
    background-image: url(/Assets/skillBG.svg) ;
    background-size: cover;
}

.skillColoumn
{
    
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.skillText
{
    color: #D2D4D9;
    max-width: 503px;
    width: 26.197vw;
    font-family: Clash Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 169%; /* 81.12px */ 
}


/* 
.heroTwoExp
{
  max-width: 840px;
  width: 400px;
  height:300px;
  display: flex;
  border-radius: 16px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 20px 0 rgba(0, 0, 0, 0.04);
  align-items: start;
  justify-content: center;
  background-color: #c2c2c9;

  position: relative;
  cursor: pointer;
  overflow: hidden;

}


.heroTwoExp:after
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2d2d3f;
    z-index: -1;
    background-image: url(/Assets/aa.png);
    background-size: cover;
    transition: 0.4s;
}

.heroTwoExpp:hover:after
{
    transform: rotate(45deg) ;
}


.blurSrc, .detailsBoxExp{
    grid-column: 1;
    grid-row: 1;
}

.detailsBoxExp
{
  
  width: 100%;
   height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
  background-image: url(/Assets/noise.svg);
  background-size:cover;
  
  box-sizing: border-box;
 
}


.blurSrc
{   
    width: 100vw;
    height: 100vh;
    background-image: url(/Assets/blur.svg);
    
    float: left;
    overflow: hidden;

}

@-webkit-keyframes rotateOne
{
    0%
    {
        rotate: 0deg;
    }

    100%
    {
        rotate: 359deg;
    }
}


.blurSrc:hover
{
    -webkit-animation-name:rotateOne ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.backColor
{
    width: 100%;
    background-color: #121220;
} */